#background_canvas,
#game_canvas {
    border: 1px solid #444444;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: block;
    z-index: -1;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    touch-action: manipulation;

}

#game_canvas {
    position: absolute;
    z-index: 0;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
}

#gamediv {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;

}

p {
    margin: 0.5em;
    text-align: center;
    font-family: 'Consolas';
    font-weight: bold;
    font-size: 1.5em;
}

#text {
    position: relative;
    top: 500px;
}